<%- include('../partials/_navbar.ejs') %>

<h1>Create a new account!</h1>

<form action="/auth/sign-up" method="POST">
  <label>Username:</label>
  <input type="text" name="username" required />

  <label>Password:</label>
  <input type="password" name="password" required />

  <label>Confirm Password:</label>
  <input type="password" name="confirmPassword" required />

  <button type="submit">Sign up</button>
</form>
