<%- include('../partials/_navbar.ejs') %>

<h1>Sign In</h1>

<form method="POST" action="/auth/sign-in">
  <label>Username:</label>
  <input type="text" name="username" />

  <label>Password:</label>
  <input type="password" name="password" />

  <button>Sign in</button>
</form>
