<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CookBook</title>
  </head>
  <body>
    <%- include("./partials/_navbar.ejs") %>
    
    <h1>Welcome to CookBook</h1>

    <% if (!user) { %>
      <p>Please <a href="/auth/sign-in">sign in</a> or <a href="/auth/sign-up">create an account</a> to manage your pantry.</p>
    <% } else { %>
      <p><a href="/users/<%= user._id %>/foods">Go to My Pantry</a></p>
   
    <% } %>
  </body>
</html>
