<!DOCTYPE html>
<html>
<body>
  <%- include("../partials/_navbar.ejs") %>

  <h1>Edit Food</h1>

  <form action="/users/<%= user._id %>/foods/<%= item._id %>?_method=PUT" method="POST">
    <label>Name:</label>
    <input name="name" value="<%= item.name %>" />
    <button>Save</button>
  </form>
</body>
</html>
