<%- include("../partials/_navbar.ejs") %>

<h1>Add a New Pantry Item</h1>

<form action="/users/<%= user._id %>/foods" method="POST">
  <label>Name:</label>
  <input type="text" name="name" required />
  <button>Add</button>
</form>
