<!DOCTYPE html>
<html>
<body>
  <%- include("../partials/_navbar.ejs") %>

  <h1><%= user.username %>'s Pantry</h1>

  <ul>
    <% user.pantry.forEach(item => { %>
      <li><%= item.name %></li>
    <% }) %>
  </ul>
</body>
</html>
