<%- include('../partials/_navbar.ejs') %>

<h1>Create a Recipe</h1>

<form method="POST" action="/recipes">
  <input type="text" name="name" placeholder="Recipe Name" required />

  <textarea name="instructions" placeholder="Instructions"></textarea>

  <h3>Select Ingredients:</h3>
  <% ingredients.forEach(ingredient => { %>
    <label>
      <input type="checkbox" name="ingredients" value="<%= ingredient._id %>" />
      <%= ingredient.name %>
    </label><br>
  <% }) %>

  <button>Create Recipe</button>
</form>
