<%- include('../partials/_navbar.ejs') %>

<h1><%= recipe.name %></h1>

<p><strong>Instructions:</strong></p>
<p><%= recipe.instructions %></p>

<h3>Ingredients</h3>
<ul>
  <% recipe.ingredients.forEach(i => { %>
    <li><%= i.name %></li>
  <% }) %>
</ul>

<a href="/recipes">Back</a>
